In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
#League data
syd_batting = pd.read_excel(r"C:\Users\tamilmani c\Desktop\DATA MINING_PROJ\Data set\Syd_Batting.xlsx")
syd_bowling = pd.read_excel(r"C:\Users\tamilmani c\Desktop\DATA MINING_PROJ\Data set\Syd_Bowling.xlsx")

#International T20 data
intl_batting = pd.read_csv(r"C:\Users\tamilmani c\Desktop\DATA MINING_PROJ\Data set\t20_batting_intl.csv")
intl_bowling = pd.read_csv(r"C:\Users\tamilmani c\Desktop\DATA MINING_PROJ\Data set\t20_bowling_intl.csv")

In [6]:
syd_batting.head

<bound method NDFrame.head of     POS          PLAYER            TEAM  MATCHES  INN  RUNS      SR  4s  6s
0     1  Ajinkya Rahane          Mumbai        9    8   469  164.56  46  19
1     2   Rajat Patidar  Madhya Pradesh       10    9   428  186.09  32  31
2     3    Sakibul Gani           Bihar        7    7   353  142.34  41  10
3     4    Shreyas Iyer          Mumbai        9    8   345  188.52  31  22
4     5       Karan Lal          Bengal        9    9   338  161.72  35  18
..  ...             ...             ...      ...  ...   ...     ...  ..  ..
95   96     Chetan Bist        Nagaland        6    6   139  120.87  12   6
96   97       Jay Gohil      Saurashtra        8    8   139  193.06  10  12
97   98   Mandeep Singh         Tripura        7    7   138  133.98  10   3
98   99      Anukul Roy       Jharkhand        7    5   137  165.06  12   9
99  100   Shahrukh Khan      Tamil Nadu        7    6   137  133.01   8   8

[100 rows x 9 columns]>

In [ ]:
syd_batting.head

In [4]:
datasets = [syd_batting, syd_bowling, intl_batting, intl_bowling]

for df in datasets:
    df.fillna(0, inplace=True)

In [7]:
league_stats = pd.merge(
    syd_batting,
    syd_bowling,
    on="PLAYER",
    how="outer"
)

intl_stats = pd.merge(
    intl_batting,
    intl_bowling,
    on="PLAYER",
    how="outer"
)

league_stats.fillna(0, inplace=True)
intl_stats.fillna(0, inplace=True)

In [8]:
player_stats = pd.concat([league_stats, intl_stats], ignore_index=True)

In [14]:
player_stats.shape

(337, 31)

In [25]:
player_stats.fillna(0)

,POS_x,PLAYER,TEAM_x,MATCHES_x,INN_x,RUNS,SR,4s,6s,POS_y,...,50s,AVG_x,MAT_y,OVERS,RUNS_y,WICKETS,BEST,4W,AVG_y,ECO
0,15.0,Aarya Desai,Gujarat,7.0,7.0,287.0,146.43,34.0,9.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00
1,95.0,Abdul Samad,Jammu and Kashmir,7.0,6.0,139.0,151.09,11.0,8.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00
2,54.0,Abhijeet Tomar,Rajasthan,7.0,7.0,188.0,151.61,14.0,13.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00
3,23.0,Abhishek Sharma,Punjab,7.0,7.0,255.0,216.10,26.0,18.0,66.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00
4,0.0,Abid Mushtaq,0,0.0,0.0,0.0,0.00,0.0,0.0,16.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,44.0,YS Samra,Canada,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,3.0,36.83,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00
333,0.0,Yasim Murtaza,0,0.0,0.0,0.0,0.00,0.0,0.0,75.0,...,0.0,0.00,68.0,229.0,1461.0,75.0,04-Sep,1.0,19.48,6.37
334,0.0,Yuzvendra Chahal,0,0.0,0.0,0.0,0.00,0.0,0.0,37.0,...,0.0,0.00,80.0,294.0,2409.0,96.0,Jun-25,2.0,25.09,8.19
335,0.0,Z Bimenyimana,0,0.0,0.0,0.0,0.00,0.0,0.0,38.0,...,0.0,0.00,97.0,285.3,2036.0,94.0,03-Jul,0.0,21.65,7.13
336,21.0,Zeeshan Ali,Hong Kong,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,2.0,27.66,0.0,0.0,0.0,0.0,0,0.0,0.00,0.00

In [31]:
batting_cols = [
    "RUNS",
    "MATCHES_x",
    "AVG_x",
    "SR",
    "4s",
    "6s"
]

batting_features = player_stats[batting_cols]

In [32]:
batting_features = batting_features.apply(
    pd.to_numeric, errors="coerce"
)

In [33]:
batting_features.replace([np.inf, -np.inf], np.nan, inplace=True)

In [34]:
batting_features.fillna(0, inplace=True)

In [35]:
scaler = StandardScaler()
batting_scaled = scaler.fit_transform(batting_features)

In [36]:
kmeans = KMeans(n_clusters=3, random_state=42)
player_stats["batting_cluster"] = kmeans.fit_predict(batting_scaled)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

In [37]:
print("NaN count:", np.isnan(batting_scaled).sum())

NaN count: 0

In [38]:
player_stats["batting_cluster"]

0      2
1      0
2      0
3      2
4      1
      ..
332    1
333    1
334    1
335    1
336    1
Name: batting_cluster, Length: 337, dtype: int32

In [40]:
player_stats["batting_impact_score"] = (
    player_stats["SR"] * 0.45 +
    player_stats["AVG_x"] * 0.35 +
    (player_stats["4s"] + player_stats["6s"]) * 0.20
)

In [59]:
regression_cols = [
    "AVG_x",
    "SR",
    "MATCHES_x"
]

In [60]:
player_stats[regression_cols] = player_stats[regression_cols].apply(
    pd.to_numeric, errors="coerce"
)

In [61]:
player_stats.replace([np.inf, -np.inf], np.nan, inplace=True)

In [62]:
player_stats[regression_cols] = player_stats[regression_cols].fillna(0)

In [63]:
X = player_stats[regression_cols]
y = pd.to_numeric(player_stats["RUNS"], errors="coerce").fillna(0)

In [64]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [65]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

player_stats["expected_runs"] = lr.predict(X)

In [66]:
print("NaNs in X:", X.isna().sum())
print("NaNs in y:", y.isna().sum())

NaNs in X: AVG_x        0
SR           0
MATCHES_x    0
dtype: int64
NaNs in y: 0

In [74]:
player_stats["batting_impact_score"] = (
    player_stats["RUNS"].fillna(0) * 0.4 +
    player_stats["SR"].fillna(0) * 0.3 +
    player_stats["AVG_x"].fillna(0) * 0.3
)

In [75]:
player_stats[["PLAYER", "batting_impact_score"]].head()

            PLAYER  batting_impact_score
0      Aarya Desai               158.729
1      Abdul Samad               100.927
2   Abhijeet Tomar               120.683
3  Abhishek Sharma               166.830
4     Abid Mushtaq                 0.000

In [76]:
batsmen = player_stats[player_stats["role"] == "Batsman"]
allrounders = player_stats[player_stats["role"] == "All-Rounder"]
bowlers = player_stats[player_stats["role"] == "Bowler"]

In [77]:
selected_batsmen = batsmen.sort_values(
    "batting_impact_score", ascending=False
).head(6)

selected_allrounders = allrounders.sort_values(
    "batting_impact_score", ascending=False
).head(4)

selected_bowlers = bowlers.sort_values(
    "WICKETS", ascending=False
).head(6)

In [78]:
ipl_squad = pd.concat([
    selected_batsmen,
    selected_allrounders,
    selected_bowlers
])

ipl_squad = ipl_squad[[
    "PLAYER",
    "role",
    "TEAM_x",
    "batting_impact_score",
    "expected_runs",
    "value_tag"
]]

ipl_squad.reset_index(drop=True, inplace=True)
ipl_squad

,PLAYER,role,TEAM_x,batting_impact_score,expected_runs,value_tag
0,Ajinkya Rahane,Batsman,Mumbai,236.968,254.228191,Average Buy
1,Rajat Patidar,Batsman,Madhya Pradesh,227.027,284.259292,Average Buy
2,Urvil Patel,Batsman,Gujarat,194.979,232.072940,Average Buy
3,Shreyas Iyer,Batsman,Mumbai,194.556,266.753550,Average Buy
4,Sakibul Gani,Batsman,Bihar,183.902,205.060334,Average Buy
5,Priyansh Arya,Batsman,Delhi,182.989,260.537919,Average Buy
6,Karan Lal,All-Rounder,Bengal,183.716,252.743549,Average Buy
7,Abhishek Sharma,All-Rounder,Punjab,166.830,243.619203,Average Buy
8,Mohit Jangra,All-Rounder,Mizoram,163.706,209.597902,Average Buy
9,Shahbaz Ahmed,All-Rounder,Bengal,147.861,260.663382,Average Buy
10,Rashid Khan,Bowler,0,0.000,-0.781859,Average Buy
11,Tim Southee,Bowler,0,0.000,-0.781859,Average Buy
12,Mustafizur Rahman,Bowler,0,0.000,-0.781859,Average Buy
13,Ish Sodhi,Bowler,0,0.000,-0.781859,Average Buy
14,Shakib Al Hasan,Bowler,0,0.000,-0.781859,Average Buy
15,Wanindu Hasaranga,Bowler,0,0.000,-0.781859,Average Buy

In [79]:
ipl_squad["auction_status"] = "SELECTED"

In [80]:
budget_squad = ipl_squad[
    ipl_squad["value_tag"].isin(["Steal Buy", "Average Buy"])
]

In [81]:
dashboard_df = player_stats[[
    "PLAYER",
    "TEAM_x",
    "role",
    "RUNS",
    "SR",
    "AVG_x",
    "WICKETS",
    "ECO",
    "batting_cluster",
    "batting_impact_score",
    "expected_runs",
    "value_tag"
]]

dashboard_df.to_csv("ipl_auction_dashboard.csv", index=False)